.app {
  display: flex;
}

/* title */
.app h4 {
  font-size: 30px;
  text-align: center;
}

/* 오른쪽 화면 */
.app > div {
  gap: 30px;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100% - var(--nav-width));
}
