:root {
  --bg-color: #dfdfdb;
  --brown-color: #b7a589;
  --green0-color: #b8be9d;
  --green1-color: #686c36;
  --green2-color: #3b3f26;
  --green3-color: #272c26;
  --base-px: 8px;
  --nav-width: 200px;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 700;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
