nav {
  height: 100vh;
  min-width: 155px;
  width: var(--nav-width);
  padding: calc(var(--base-px) * 2);
  background-color: var(--brown-color);
}

/* 로고 + 메뉴 */
nav > div {
  cursor: pointer;
  text-align: center;
}

/* 로고 */
.logo {
  height: 80px;
  color: white;
  font-size: 25px;
  line-height: 80px;
  margin-bottom: 20px;
}

/* 메뉴 */
nav > div:not(.logo) {
  margin-bottom: 10px;
  padding: calc(var(--base-px) * 2);
}

nav > div:not(.logo):nth-child(3n - 1) {
  color: white;
  background-color: var(--green1-color);
}

nav > div:not(.logo):nth-child(3n - 1):hover {
  background-color: #4e5028;
}

nav > div:not(.logo):nth-child(3n) {
  color: black;
  background-color: var(--bg-color);
}

nav > div:not(.logo):nth-child(3n):hover {
  background-color: #c5c5c3;
}

nav > div:not(.logo):nth-child(3n + 1) {
  color: white;
  background-color: var(--green3-color);
}

nav > div:not(.logo):nth-child(3n + 1):hover {
  color: white;
  background-color: #171a16;
}
